body{
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
}

#main-wrap{
	margin:150px;
	margin-top:5px;
	margin-bottom:5px;

	padding-top:2px;
	padding-bottom:2px;
	padding-left:21px;
	padding-right:21px;
	background-color:#ffffff;
	opacity: 0.6;
	filter: alpha(opacity=50);
}

